# For your tests,
# see creds of `mysql5_db` container
#
#  ex: "V5_data_params"
DATABASE_URL=mysql://root:password@localhost:3306/V5_data_params?schema=public

# Dynamic credentials for database per year (for "V5_data_xxxx" databases):
#  ("YYYY" is replaced by year on-demand)
DATABASE_V5_PER_YEAR_URL=mysql://root:password@localhost:3306/V5_data_YYYY?schema=public

# Set the path to the tiles:
TUILES_CHEMINS=../demo-tuiles


# Base URL of IC api
# We use it each time we need to get data directly from legacy API:
IC_LEGACY_API_URL=https://www.infoclimat.fr/api

# Base URL of the API
HOST=http://localhost:3000/